<.header>
  New Clip
  <:subtitle>Use this form to manage clip records in your database.</:subtitle>
</.header>

<.clip_form changeset={@changeset} action={~p"/clips"} />

<.back navigate={~p"/clips"}>Back to clips</.back>
